@model Cadastro.ViewModels.CategoryViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Deseja realmente excluir este registro?</h3>
<div>
    <h4>Categorias</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategory)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>

